<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>

    <body>

        <p>
        <hr>
        English version at the end.
        <hr>

        <p>Bonjour {{ firstName }} {{ lastName }},</p>

        <p>Malgré nos relances nous n'avons pas recu votre paiement dans les delais. Votre inscription au GSDF est donc annulée.</p>

        <p>Si vous le souhaitez, vous pouvez vous re-inscrire.</p>

        <p>Cordialement,</p>

        <p>L'équipe du GSDF</p>

        <p>
        <hr>
        English version
        <hr>

        <p>Hello {{ firstName }} {{ lastName }},</p>

        <p>Despite our reminders we have not received your payment within the deadline. Your GSDF registration has therefore been cancelled.</p>

        <p>If you wish, you can register again.</p>

        <p>Regards,</p>

        <p>The GSDF Team</p>
    </body>
</html>
