<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>

    <body>

        <p>
        <hr>
        English version at the end.
        <hr>

        <p>Bonjour {{ firstName }} {{ lastName }},</p>

        <p>Nous avons bien reçu votre paiement. Votre inscription est validée.</p>

        <p>A bientôt au GSDF 2016,</p>

        <p>L'équipe du GSDF</p>

        <p>
        <hr>
        English version
        <hr>

        <p>Hello {{ firstName }} {{ lastName }},</p>

        <p>We have received your payment. Your registration is now confirmed.</p>

        <p>See you soon at the GSDF 2016,</p>

        <p>The GSDF Team</p>
    </body>
</html>
