<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>

    <body>

        <p>
        <hr>
        English version at the end.
        <hr>

        <p>Bonjour {{ firstName }} {{ lastName }},</p>

        <p>Votre inscription est bien prise en compte.<br>
            Vous êtes actuellement sur liste d'attente. Dès qu'une place se libère, nous vous recontacterons.</p>

        <p>Cordialement,</p>

        <p>L'équipe du GSDF</p>

        <p>
        <hr>
        English version
        <hr>

        <p>Hello {{ firstName }} {{ lastName }},</p>

        <p>Your registration has been taken into account.<br>
            You are currently on the waiting list. As soon as there is a vacancy, we will contact you.</p>

        <p>Regards,</p>

        <p>The GSDF Team</p>
    </body>
</html>
