<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>

    <body>

        <p>
        <hr>
        English version at the end.
        <hr>

        <p>Bonjour {{ firstName }} {{ lastName }},</p>

        <p>Nous n'avons toujours pas reçu de nouvelles de votre part pour la validation de votre inscription.</p>

        <p>Nous attendons encore 48h avant de l'annuler.</p>

        <p>Cordialement,</p>

        <p>L'équipe du GSDF</p>

        <p>
        <hr>
        English version
        <hr>

        <p>Hello {{ firstName }} {{ lastName }},</p>

        <p>We have still not received confirmation of your registration.</p>

        <p>We will wait another 48 hours before cancelling it.</p>

        <p>Regards,</p>

        <p>The GSDF Team</p>
    </body>
</html>
