{% extends "GSFestivalBundle::layout.html.twig" %}

{% block title %}
  Ajout d'un niveau - {{ parent() }}
{% endblock %}

{% block gsfestival_body %}

    <h2>Ajouter un niveau</h2>

    {{ include("GSFestivalBundle:Level:form.html.twig") }}

{% endblock %}