{% extends "GSFestivalBundle::layout.html.twig" %}

{% block title %}
    Modification d'une personne - {{ parent() }}
{% endblock %}


{% block gsfestival_body %}

    <h2>Editer une personne</h2>

    {{ include("GSFestivalBundle:Person:form.html.twig") }}

{% endblock %}